body{
    background-color:aliceblue;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p{text-align: center;}

#p-resultado{
    margin-top: 50px;
}

input{
    margin-block-end: 10px;
    width: 50px;
}

label{
    font-family:monospace;
    font-size: large;
}